// 12er × 12er Grid

.grid-12-6 {
  grid-auto-flow: dense;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 1.5rem;
  grid-template-rows: repeat(16, 1fr);
  grid-row-gap: 1.5rem;
  @include media(m) {
    height: 20rem;
  }
}
// Grid-Areas
.wirtschaft-titel {
  grid-area: wirtschaft-titel;
}

.wetter-titel {
  grid-area: wetter-titel;
}

.wirtschaft-beitrag-gross {
  grid-area: wirtschaft-beitrag-gross;
}

.wirtschaft-beitrag-klein-1 {
  grid-area: wirtschaft-beitrag-klein-1;
}

.wirtschaft-beitrag-klein-2 {
  grid-area: wirtschaft-beitrag-klein-2;
}

.wirtschaft-beitrag-klein-3 {
  grid-area: wirtschaft-beitrag-klein-3;
}

.wirtschaft-beitrag-klein-4 {
  grid-area: wirtschaft-beitrag-klein-4;
}

.wetter-widget {
  grid-area: wetter-widget;
}


.grid-test {
  // Grid Mobile
  grid-template-areas:
  "wirtschaft-titel wirtschaft-titel wirtschaft-titel wirtschaft-titel wirtschaft-titel wirtschaft-titel wirtschaft-titel wirtschaft-titel wirtschaft-titel wirtschaft-titel wirtschaft-titel wirtschaft-titel"
  "wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross"
  "wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross"
  "wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross"
  "wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross"
  "wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross"
  "wetter-widget wetter-widget wetter-widget wetter-widget wetter-widget wetter-widget wetter-widget wetter-widget wetter-widget wetter-widget wetter-widget wetter-widget"
  "wetter-widget wetter-widget wetter-widget wetter-widget wetter-widget wetter-widget wetter-widget wetter-widget wetter-widget wetter-widget wetter-widget wetter-widget"
  "wetter-widget wetter-widget wetter-widget wetter-widget wetter-widget wetter-widget wetter-widget wetter-widget wetter-widget wetter-widget wetter-widget wetter-widget"
  "wetter-widget wetter-widget wetter-widget wetter-widget wetter-widget wetter-widget wetter-widget wetter-widget wetter-widget wetter-widget wetter-widget wetter-widget"
  "wirtschaft-beitrag-klein-1 wirtschaft-beitrag-klein-1 wirtschaft-beitrag-klein-1 wirtschaft-beitrag-klein-1 wirtschaft-beitrag-klein-1 wirtschaft-beitrag-klein-1 wirtschaft-beitrag-klein-2 wirtschaft-beitrag-klein-2 wirtschaft-beitrag-klein-2 wirtschaft-beitrag-klein-2 wirtschaft-beitrag-klein-2 wirtschaft-beitrag-klein-2"
  "wirtschaft-beitrag-klein-1 wirtschaft-beitrag-klein-1 wirtschaft-beitrag-klein-1 wirtschaft-beitrag-klein-1 wirtschaft-beitrag-klein-1 wirtschaft-beitrag-klein-1 wirtschaft-beitrag-klein-2 wirtschaft-beitrag-klein-2 wirtschaft-beitrag-klein-2 wirtschaft-beitrag-klein-2 wirtschaft-beitrag-klein-2 wirtschaft-beitrag-klein-2"
  "wirtschaft-beitrag-klein-1 wirtschaft-beitrag-klein-1 wirtschaft-beitrag-klein-1 wirtschaft-beitrag-klein-1 wirtschaft-beitrag-klein-1 wirtschaft-beitrag-klein-1 wirtschaft-beitrag-klein-2 wirtschaft-beitrag-klein-2 wirtschaft-beitrag-klein-2 wirtschaft-beitrag-klein-2 wirtschaft-beitrag-klein-2 wirtschaft-beitrag-klein-2"
  "wirtschaft-beitrag-klein-3 wirtschaft-beitrag-klein-3 wirtschaft-beitrag-klein-3 wirtschaft-beitrag-klein-3 wirtschaft-beitrag-klein-3 wirtschaft-beitrag-klein-3 wirtschaft-beitrag-klein-4 wirtschaft-beitrag-klein-4 wirtschaft-beitrag-klein-4 wirtschaft-beitrag-klein-4 wirtschaft-beitrag-klein-4 wirtschaft-beitrag-klein-4"
  "wirtschaft-beitrag-klein-3 wirtschaft-beitrag-klein-3 wirtschaft-beitrag-klein-3 wirtschaft-beitrag-klein-3 wirtschaft-beitrag-klein-3 wirtschaft-beitrag-klein-3 wirtschaft-beitrag-klein-4 wirtschaft-beitrag-klein-4 wirtschaft-beitrag-klein-4 wirtschaft-beitrag-klein-4 wirtschaft-beitrag-klein-4 wirtschaft-beitrag-klein-4"
  "wirtschaft-beitrag-klein-3 wirtschaft-beitrag-klein-3 wirtschaft-beitrag-klein-3 wirtschaft-beitrag-klein-3 wirtschaft-beitrag-klein-3 wirtschaft-beitrag-klein-3 wirtschaft-beitrag-klein-4 wirtschaft-beitrag-klein-4 wirtschaft-beitrag-klein-4 wirtschaft-beitrag-klein-4 wirtschaft-beitrag-klein-4 wirtschaft-beitrag-klein-4";
  @include media(m) {
    //Desktop
    grid-template-areas:
    "wirtschaft-titel wirtschaft-titel wirtschaft-titel wirtschaft-titel wirtschaft-titel wirtschaft-titel wirtschaft-titel wirtschaft-titel wetter-titel wetter-titel wetter-titel wetter-titel"
    "wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-klein-1 wirtschaft-beitrag-klein-1 wirtschaft-beitrag-klein-2 wirtschaft-beitrag-klein-2 wetter-widget wetter-widget wetter-widget wetter-widget"
    "wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-klein-1 wirtschaft-beitrag-klein-1 wirtschaft-beitrag-klein-2 wirtschaft-beitrag-klein-2 wetter-widget wetter-widget wetter-widget wetter-widget"
    "wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-klein-1 wirtschaft-beitrag-klein-1 wirtschaft-beitrag-klein-2 wirtschaft-beitrag-klein-2 wetter-widget wetter-widget wetter-widget wetter-widget"
    "wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-klein-1 wirtschaft-beitrag-klein-1 wirtschaft-beitrag-klein-2 wirtschaft-beitrag-klein-2 wetter-widget wetter-widget wetter-widget wetter-widget"
    "wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-klein-1 wirtschaft-beitrag-klein-1 wirtschaft-beitrag-klein-2 wirtschaft-beitrag-klein-2 wetter-widget wetter-widget wetter-widget wetter-widget"
    "wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-klein-1 wirtschaft-beitrag-klein-1 wirtschaft-beitrag-klein-2 wirtschaft-beitrag-klein-2 wetter-widget wetter-widget wetter-widget wetter-widget"
    "wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-klein-1 wirtschaft-beitrag-klein-1 wirtschaft-beitrag-klein-2 wirtschaft-beitrag-klein-2 wetter-widget wetter-widget wetter-widget wetter-widget"
    "wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-klein-1 wirtschaft-beitrag-klein-1 wirtschaft-beitrag-klein-2 wirtschaft-beitrag-klein-2 wetter-widget wetter-widget wetter-widget wetter-widget"
    "wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-klein-3 wirtschaft-beitrag-klein-3 wirtschaft-beitrag-klein-4 wirtschaft-beitrag-klein-4 wetter-widget wetter-widget wetter-widget wetter-widget"
    "wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-klein-3 wirtschaft-beitrag-klein-3 wirtschaft-beitrag-klein-4 wirtschaft-beitrag-klein-4 wetter-widget wetter-widget wetter-widget wetter-widget"
    "wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-klein-3 wirtschaft-beitrag-klein-3 wirtschaft-beitrag-klein-4 wirtschaft-beitrag-klein-4 wetter-widget wetter-widget wetter-widget wetter-widget"
    "wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-klein-3 wirtschaft-beitrag-klein-3 wirtschaft-beitrag-klein-4 wirtschaft-beitrag-klein-4 wetter-widget wetter-widget wetter-widget wetter-widget"
    "wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-klein-3 wirtschaft-beitrag-klein-3 wirtschaft-beitrag-klein-4 wirtschaft-beitrag-klein-4 wetter-widget wetter-widget wetter-widget wetter-widget"
    "wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-klein-3 wirtschaft-beitrag-klein-3 wirtschaft-beitrag-klein-4 wirtschaft-beitrag-klein-4 wetter-widget wetter-widget wetter-widget wetter-widget"
    "wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-klein-3 wirtschaft-beitrag-klein-3 wirtschaft-beitrag-klein-4 wirtschaft-beitrag-klein-4 wetter-widget wetter-widget wetter-widget wetter-widget"
    "wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-gross wirtschaft-beitrag-klein-3 wirtschaft-beitrag-klein-3 wirtschaft-beitrag-klein-4 wirtschaft-beitrag-klein-4 wetter-widget wetter-widget wetter-widget wetter-widget";
  }
}


.grid-12-6 img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card-1-2 {
  grid-column: span 1;
  grid-row: span 2;
}

.card-2-4 {
  grid-column: span 6;
  grid-row: span 1;
  @include media(m) {
    grid-column: span 2;
    grid-row: span 4;
  }
}

.card-2-6 {
  grid-column: span 2;
  grid-row: span 6;
}

.card-2-7 {
  grid-column: span 2;
  grid-row: span 7;
}

.card-2-8 {
  grid-column: span 6;
  grid-row: span 1;
  @include media(m) {
    grid-column: span 2;
    grid-row: span 8;
  }
}

.card-3-1 {
  grid-column: span 3;
  grid-row: span 1;
}

.card-3-2 {
  grid-column: span 3;
  grid-row: span 2;
}

.card-3-3 {
  grid-column: span 3;
  grid-row: span 3;
}

.card-3-4 {
  grid-column: span 3;
  grid-row: span 4;
}

.card-3-7 {
  // Mobile
  grid-column: span 12;
  grid-row: span 13;
  @include media(m) {
    // Desktop
    grid-column: span 3;
    grid-row: span 7;
  }
}

.card-4-1 {
  grid-column: span 12;
  grid-row: span 1;
  @include media(m) {
    grid-column: span 4;
    grid-row: span 1;
  }
}

.card-4-2 {
  grid-column: span 12;
  grid-row: span 1;
  @include media(m) {
    grid-column: span 4;
    grid-row: span 2;
  }
}

.card-4-4 {
  grid-column: span 12;
  grid-row: span 9;
  @include media(m) {
    grid-column: span 4;
    grid-row: span 4;
  }
}

.card-4-5 {
  grid-column: span 12;
  grid-row: span 7;
  @include media(m) {
    grid-column: span 4;
    grid-row: span 5;
  }
}

.card-4-6 {
  grid-column: span 4;
  grid-row: span 6;
}

.card-4-7 {
  grid-column: span 4;
  grid-row: span 7;
}

.card-4-8 {
  grid-column: span 4;
  grid-row: span 8;
}

.card-4-9 {
  grid-column: span 4;
  grid-row: span 9;
}

.card-4-13 {
  grid-column: span 4;
  grid-row: span 13;
}

.card-4-14 {
  grid-column: span 4;
  grid-row: span 14;
}

.card-4-15 {
  grid-column: span 12;
  grid-row: span 1;
  @include media(m) {
    grid-column: span 4;
    grid-row: span 15;
  }
}

.card-4-16 {
  grid-column: span 12;
  grid-row: span 2;
  @include media(m) {
    grid-column: span 4;
    grid-row: span 16;
  }
}

.card-4-17 {
  grid-column: span 12;
  grid-row: span 2;
  @include media(m) {
    grid-column: span 4;
    grid-row: span 17;
  }
}

.card-4-18 {
  grid-column: span 12;
  grid-row: span 7;
  @include media(m) {
    grid-column: span 4;
    grid-row: span 18;
  }
}

.card-6-3 {
  grid-column: span 6;
  grid-row: span 3;
}

.card-6-2 {
  grid-column: span 6;
  grid-row: span 2;
}

.card-6-4 {
  grid-column: span 6;
  grid-row: span 4;
}

.card-6-7 {
  grid-column: span 12;
  grid-row: span 13;
  @include media(m) {
    grid-column: span 6;
    grid-row: span 7;
  }
}

.card-6-14 {
  grid-column: span 12;
  grid-row: span 13;
  @include media(m) {
    grid-column: span 6;
    grid-row: span 14;
  }
}

.card-8-1 {
  grid-column: span 12;
  grid-row: span 1;
  align-items: center;
  @include media(m) {
    grid-column: span 8;
    grid-row: span 1;
  }
}

.card-8-2 {
  grid-column: span 12;
  grid-row: span 1;
  align-items: center;
  @include media(m) {
    grid-column: span 8;
    grid-row: span 2;
  }
}

.card-8-4 {
  grid-column: span 12;
  grid-row: span 4;
  align-items: center;
  @include media(m) {
    grid-column: span 8;
    grid-row: span 4;
  }
}

.card-8-5 {
  grid-column: span 12;
  grid-row: span 4;
  align-items: center;
  @include media(m) {
    grid-column: span 8;
    grid-row: span 5;
  }
}

.card-8-16 {
  grid-column: span 12;
  grid-row: span 6;
  align-items: center;
  @include media(m) {
    grid-column: span 8;
    grid-row: span 16;
  }
}

.card-8-17 {
  grid-column: span 12;
  grid-row: span 20;
  align-items: center;
  @include media(m) {
    grid-column: span 8;
    grid-row: span 17;
  }
}

.card-12-16 {
  grid-column: span 12;
  grid-row: span 20;
  align-items: center;
  @include media(m) {
    grid-column: span 12;
    grid-row: span 16;
  }
}

.card-12-1 {
  grid-column: span 12;
  grid-row: span 1;
  align-items: center;
  @include media(m) {
    grid-column: span 12;
    grid-row: span 1;
  }
}
//Bild einpassen im grid

.bild_in_grid {
  overflow: hidden;
  height: 18.5rem;
}

.bild_in_grid_01 {
  overflow: hidden;
  height: 6.5rem;
}

.bild_in_grid_passend {
  overflow: hidden;
  width: 100%;
}
