.teaser {
  position: relative;
}
.teaser_bild {
}

.teaser_tag p{
  position: absolute;
  top: 10;
  left: 10;
  background-color: #D7D66D;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 12;
  font-weight: bold;
  color: white;
}

.teaser_box {
  position: absolute;
  left: 10;
  bottom: 10;
  /* offset-x | offset-y | blur-radius | color */
  text-shadow: 1px 1px 5px black;
  color: white;
}



p.text_auf_bild {
  font-size: 14;
  line-height: 18;
  }


h1.text_auf_bild {
font-size: 24;
line-height: 22;
font-style: bold;
  }

h2.text_auf_bild {


    }

h3.text_auf_bild {
  font-size: 12;
  line-height: 24;
      }
